{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>Pc</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pc.id }}</td>
            </tr>
            <tr>
                <th>Cpu</th>
                <td>{{ pc.cpu }}</td>
            </tr>
            <tr>
                <th>Gpu</th>
                <td>{{ pc.gpu }}</td>
            </tr>
            <tr>
                <th>Ram</th>
                <td>{{ pc.ram }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pc_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pc_edit', { 'id': pc.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
